<!DOCTYPE html>
<html>
<head>
    <!-- Snow effect source: http://thecodeplayer.com/walkthrough/html5-canvas-snow-effect -->
    <link rel="stylesheet" href="style.css"/>
    <script src="snow.js"></script>
    <script src="blinking.js"></script>
    <title>Happy Christmakwanzahah!!!</title>
	<meta charset="utf-8" />
</head>
<body>
    <canvas id="canvas"></canvas>

    <h1 class="marquee blinking" id="greetingleft">Happy Christmakwanzahah!!!</h1>

    <!-- Holiday Candles -->
    <h2 class="blinking">candles</h2>
    <img src="../images/Advent_wreath_with_violet_and_rose_candles_4.JPG" id="candles"/>

    <!-- Holiday Presents -->
    <h2 class="blinking">presents</h2>
    <img src="../images/tree_hoodie.jpg" id="presents"/>

    <!-- Holiday Food -->
    <h2 class="blinking">food</h2>
    <img src="../images/christmas_food.jpg" id="food"/>

    <h1 class="marquee blinking" id="greetingright">Happy Christmakwanzahah!!!</h1>
</body>
</html>
